{
    "extends": "standard",
    "rules": {
        "semi": ["error", "always"],
        "indent": ["error", 4]
    },
    "globals": {
        "jest": true,
        "beforeEach": true,
        "afterEach": true,
        "describe": true,
        "test": true,
        "expect": true
    }
}
